*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
}

main{
    height: 100%;
   width: 80%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#part_1{
    height: 98%;
    width: 40%;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
margin: 10px 20px 10px 10px;

}

#part_2{
    height: 98%;
    width: 40%;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
img{
    width: 100px;
    height: 100px;
    border: 1px solid teal;
    border-radius: 100%;
}

             /*------------> Responsive_1 <--------------*/

@media only screen and (max-width: 865px){
main {
        height: 100%;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #part_1 {
            height: 98%;
            width: 45%;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            margin: 10px 20px 10px 10px;
    
        }
    
        #part_2 {
            height: 98%;
            width: 45%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
   
}



   /*------------> Responsive_2 <--------------*/
   

@media only screen and (max-width: 675px) {
    main {
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #part_1 {
        height: 98%;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin: 10px 20px 10px 10px;

    }

    #part_2 {
        height: 98%;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
     p{
     
      /* overflow: auto; */
     width:auto;
    }

}


   /*------------> Responsive_3 <--------------*/


@media only screen and (max-width: 535px) {
    main {
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #part_1 {
        height: 98%;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin: 10px 20px 10px 10px;

    }

    #part_2 {
        height: 98%;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

   #box_3>p{

        overflow: auto;
        
    } 
    .gmail{
    font-size: small;
    }

}